.followUser-container {
    display: flex;
}

.followUser-container> ul {
    padding: 0px;
    margin: 0px;
    flex: 1;
}

.followUser-container > ul > li > a {
    text-decoration: none;
    color: black;
}

.followUser-container > ul > li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 8px;
    flex: 1;
    max-width: 300px;
}

.followUser-container > ul > li > a > img {
    width: 60px;
    height: auto;
    margin: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.followUser-sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 20vw;
}

.followUser-sub-container > button {
    border-radius: 20px;
    padding: 0px 16px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.followUser-sub-container > button:hover {
    background-color: rgba(0, 0, 0, 0.733);
    border: 1px solid rgba(0, 0, 0, 0.733);
    transition: 0.5s;
}

.followUser-sub-container-names > p {
    margin: 0;
    padding: 0;
}