.msg-container {
    display: flex;
    border-bottom: 1px solid #e6ecf0;
}

.msg-subcontainer {
    display: flex;
    flex-direction: column;
}

.msg-subcontainer-top {
    display: flex;
    gap: 5px;
    padding: 2px;
    color: grey;
    font-size: 14px;
}

.msg-userName {
    color: black;
    font-weight: 700;
}

.msg-picUrl > img {
    max-width: 50px;
    height: auto;
    margin: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.msg-text {
    font-size: 14px;
    padding: 2px;
}