/* Sidebar */
  
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40vw;
    height: 100vh;
    border-left: 2px solid white;
    background-color: grey;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(219, 219, 219);
}

.sidebar-login > p {
    width: 20vw;
    text-align: center;
}

.sidebar-login > button {
    width: 150px;
}

.sidebar-login > a > button {
    width: 150px;
}

.sidebar-follow {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(219, 219, 219);
}

.sidebar-follow > h2 {
    text-align: center;
}

.followUser-container {
    display: flex;
}

.followUser-container> ul {
    padding: 0px;
    margin: 0px;
}

.followUser-container > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 25vw;
}

.followUser-container > ul > li > img {
    max-width: 50px;
    height: auto;
    margin: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-login {
    position: fixed;
    display: flex;
    justify-content: left;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    background-color: red;
    color: white;
}

.footer-login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
}

.footer-login-filling {
    width: 25vw;
}

.footer-login-btn {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin-right: 10px;  
}

.footer-signup-btn {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin-right: 10px;  
}