.header {
    display: flex;
    width: 30vw;
    height: 100vh;
    border-right: 2px solid white;
    background-color: wheat;
}

.header-filling {
    width: 10vw;
}

.header-list {
    width: 20vw;
    display: flex;
    justify-content: left;
}

.header-list > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header-list > ul > li {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    width: 20vw;
}

.header-list > ul > li:hover {
    background-color: aliceblue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-list > ul > li > img{
    max-width: 40px;
    height: auto;
    align-self: center;
}